body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#app {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 400px;
    padding: 20px;
    box-sizing: border-box;
}

input, button {
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
    width: 100%;
}

input[type="text"], input[type="datetime-local"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 4px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-btn, .edit-btn {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 6px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.delete-btn:hover, .edit-btn:hover {
    background-color: #c9302c;
}

.highlight {
    background-color: yellow;
    font-weight: bold;
}
